<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Appels En Cours</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"  />

</head>

<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">GestionAppelsOffres</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a th:href="@{/}">Home</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" th:href="@{/}">Appels
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/}">Appels</a></li>
                    <li><a th:href="@{/mrles}">Morales</a></li>
                    <li><a th:href="@{/phques}">Physiques</a></li>
                    <li><a th:href="@{/soums}">Soumissions</a></li>
                </ul>
            </li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
        </ul>
    </div>
</nav>
<br><br>
<div class="container">
    <h2>Soumettre</h2>
    <form  enctype="multipart/form-data" th:action="@{'/soumet/'+${appel}}" th:object="${soumettForm}" method="POST">
        <table>
            <tr>
                <td>L'Appel</td>
               <td><input   th:type="number" th:field="*{appelId}"  th:disabled="true" th:value="${appel}" name="appel"    th:placeholder="${objet}" /></td>
            </tr>
            <tr>
                <td>Soumissionaire</td>
                <td><select th:field="*{soumissionaire}" >
                    <option th:type="number" th:each="sm : ${morales}" th:value="${sm.getId()}" th:text="${sm.getDenomination()}">
                    </option>
                </select>
                </td>
            </tr>
            <tr>
                <td>DossierCandidature</td>
                <td><input  type="file"  th:field="*{file}" /></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Soumettre au Appel"/></td>
            </tr>
        </table>
    </form>
</div>


</body>
</html>